h1, h2, h3 {
    color: crimson;
    font-family: sans-serif;
}

.overview {
    font-style: italic;
}

header {
    background-color: #eee;
    border-bottom: 1px solid silver;
    padding: 10px;
}

footer {
    background-color: #eee;
    border-top: 1px solid silver;
    padding: 10px;
}

main {
    padding: 10px;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    border-bottom: 4px dotted crimson;
}

footer h3 {
    margin-top: 0px;
}

body {
    margin: 0px;
}

.numbers-box {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    background-color: white;
    position: fixed;
    right: 5px;
    bottom: 5px;
}

.color-box {
    width: 25px;
    height: 25px;
    font-family: monospace;
    font-size: 20px;
    position: absolute;
    text-align: center;
}

.color-box-1 {
    background-color: yellowgreen;
    top: 0px;
    left: 0px;
}

.color-box-2 {
    background-color: orange;
    right: 0px;
    top: 0px;
}

.color-box-3 {
    background-color: skyblue;
    bottom: 0px;
    right: 0px;
}

.color-box-4 {
    background-color: violet;
    left: 0px;
    bottom: 0px;
}

#profile-pic{
    height: 200px; 
    background-color: white;
    border: 2px solid silver;
    padding: 2px;
    float: right;
    margin-left: 10px;
}

#joke {
    width: 50%;
    border: 2px silver solid;
    border-bottom: 4px crimson solid;
    margin: auto;
}

table, td, th {
    border: .1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

#horse {
    display: flex;
    justify-content: space-evenly;
}

.horse {
    width: 500px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin: .5em;
}

footer li img {
    width: 16px;
}